In [ ]:
import pandas as pd
from google.colab import files
files.upload()

In [ ]:
c_g = pd.read_excel('course grouping data with time on page (1).xlsx')

In [ ]:
c_g.drop(index = 4103, inplace= True)

In [ ]:
c_g

                                                   Page  ...  Page Value
0     www.buckingham.ac.uk/medicine/bsc/podiatric-me...  ...    1.666667
1     www.buckingham.ac.uk/sciences/bsc/computing-bu...  ...    0.000000
2     www.buckingham.ac.uk/business/mba/businessadmi...  ...  225.000000
3     www.buckingham.ac.uk/law/llb/law?cc=ULBF2SLA&t...  ...    0.000000
4     www.buckingham.ac.uk/business/bsc/businessandm...  ...    0.000000
...                                                 ...  ...         ...
4098  www.buckingham.ac.uk/sciences/pgdiploma/applie...  ...    0.000000
4099  www.buckingham.ac.uk/sciences/pgdiploma/applie...  ...    0.000000
4100  www.buckingham.ac.uk/sciences/pgdiploma/applie...  ...    0.000000
4101  www.buckingham.ac.uk/sciences/pgdiploma/applie...  ...    0.000000
4102  www.buckingham.ac.uk/sciences/pgdiploma/applie...  ...    0.000000

[4103 rows x 9 columns]

In [ ]:
splitted = c_g.Page.str.split("/",expand= True)

In [ ]:
#renaming
splitted.rename(columns=  {0:"Site",1:"field",2:"departmnet",3:"subject"},inplace= True)
splitted

                      Site     field  ...     4     5
0     www.buckingham.ac.uk  medicine  ...        None
1     www.buckingham.ac.uk  sciences  ...  None  None
2     www.buckingham.ac.uk  business  ...  None  None
3     www.buckingham.ac.uk       law  ...  None  None
4     www.buckingham.ac.uk  business  ...  None  None
...                    ...       ...  ...   ...   ...
4098  www.buckingham.ac.uk  sciences  ...  None  None
4099  www.buckingham.ac.uk  sciences  ...  None  None
4100  www.buckingham.ac.uk  sciences  ...  None  None
4101  www.buckingham.ac.uk  sciences  ...  None  None
4102  www.buckingham.ac.uk  sciences  ...  None  None

[4103 rows x 6 columns]

In [ ]:
#replacing special charachters in field by " "
splitted.field = splitted.field.replace(r'[<%?=+-]', ' ', regex=True)

In [ ]:
splitted.field.value_counts().nsmallest(50)

 s research proposal                                            1
 s health psychology                                            1
 s innovative computing                                         1
 s Heffer                                                       1
 s masters education                                            1
 s PRE SESSIONAL                                                1
 s 2 year                                                       1
 s international relations flexible                             1
 s Online course                                                1
 s environment                                                  1
 s money banking and central banking                            1
 s Llm                                                          1
 s 2 year degree                                                1
 s political sciences                                           1
 s open week                                                    1
 s MA Education                                                 1
 s procurement                                                  1
 s m.med                                                        1
 s online courses                                               1
 s MA in education                                              1
 s Primary education                                            1
 s sports                                                       1
 s pre med                                                      1
 s katie jones                                                  1
 s crewe                                                        1
 s premed                                                       1
 s BSc Business and Management (with integrated Foundation)     1
 s Crewe                                                        1
 s Doctor of Education                                          1
 s pre sessional                                                1
 s architecture                                                 1
 s assessment only route to QTS                                 1
 s MSC Marketing                                                1
 s Prior accredited learning                                    1
 s governance                                                   1
 s Msc health psychology                                        1
 s medical sciences                                             1
 s Katie Jones                                                  1
 s relationship                                                 1
 s business enterprise                                          1
 s virtual learning environment                                 1
 s online course                                                1
 s flexible combined honours                                    1
 s residential education                                        1
 s Criminology                                                  1
 s llb law with business management                             1
 s Geography                                                    1
 s independant pgce                                             1
 s masters in medicine                                          1
 s PGCE                                                         1
Name: field, dtype: int64

In [ ]:
#further cleaning
splitted.field = splitted.field.replace(r's ','', regex=True)

In [ ]:
splitted.field = splitted.field.str.strip()
#stripping of whitespaces from right and left end
splitted.field.value_counts()

humanities                                                940
business                                                  687
sciences                                                  603
education                                                 447
medicine                                                  398
                                                         ...
BSc Businesand Management (with integrated Foundation)      1
masterin medicine                                           1
Prior accredited learning                                   1
medical sciences                                            1
2 year                                                      1
Name: field, Length: 97, dtype: int64

In [ ]:
splitted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4103 entries, 0 to 4102
Data columns (total 6 columns):
Site          4103 non-null object
field         4103 non-null object
departmnet    4001 non-null object
subject       3821 non-null object
4             841 non-null object
5             10 non-null object
dtypes: object(6)
memory usage: 224.4+ KB

In [ ]:
#checking department
splitted.departmnet.value_counts().nsmallest(60)

modern-languages-with-history-of-art                                                             2
nasenco?cc=PCTP1PSC&titl=The National Award for SEN Coordination (NASENCO)                       3
ifp                                                                                              3
mres                                                                                             4
ta-to-teacher                                                                                    4
modern-languages-with-journalism                                                                 4
nasenco                                                                                          4
pre-sessional-english?cc=FCTF2FEF&titl=Pre-sessional English Language Foundation Programmes      6
modern-languages-with-politics                                                                   8
ifp?cc=FCTF3FIP&titl=International Foundation Programme                                          9
foundation                                                                                       9
part-time-master-of-business-administration-mba-milton-keynes                                   10
pre-sessional-english                                                                           11
ed-d                                                                                            13
expertise                                                                                       15
preparatory-pgce-with-qualified-teacher-status                                                  17
modern-languages-with-business-and-management                                                   17
education                                                                                       18
phd                                                                                             21
mmed                                                                                            22
pgc                                                                                             22
msurg                                                                                           33
pgdiploma                                                                                       33
msurg?cc=PMGF2PSG&titl=Master of Surgery (MSurg)                                                34
postgraduate-certificate-in-medical-education                                                   35
mmed?cc=PMMF2PMD&titl=Master of Medicine (MMed)                                                 44
med                                                                                             47
foundation-pathway                                                                              54
llm                                                                                             56
foundation-certificate                                                                          56
certhe                                                                                          88
mba                                                                                            111
bscecon                                                                                        121
mphil                                                                                          130
llb                                                                                            237
pgce                                                                                           283
ma                                                                                             314
undergrad                                                                                      361
ba                                                                                             416
msc                                                                                            422
bsc                                                                                            904
Name: departmnet, dtype: int64

In [ ]:
a = splitted.departmnet.str.split("=",expand= True)
a

              0     1     2
0           bsc  None  None
1           bsc  None  None
2           mba  None  None
3           llb  None  None
4           bsc  None  None
...         ...   ...   ...
4098  pgdiploma  None  None
4099  pgdiploma  None  None
4100  pgdiploma  None  None
4101  pgdiploma  None  None
4102  pgdiploma  None  None

[4103 rows x 3 columns]

In [ ]:
a[2].value_counts()

Master of Medicine (MMed)                               44
Master of Surgery (MSurg)                               34
International Foundation Programme                       9
Pre-sessional English Language Foundation Programmes     6
The National Award for SEN Coordination (NASENCO)        3
Name: 2, dtype: int64

In [ ]:
# checking if 1 is gibberish if 2 isnt null
a.loc[~a[2].isna()][1].value_counts()

PMMF2PMD&titl    44
PMGF2PSG&titl    34
FCTF3FIP&titl     9
FCTF2FEF&titl     6
PCTP1PSC&titl     3
Name: 1, dtype: int64

In [ ]:
#replacing gibberish with value in 2
a_2n_null = list(a.loc[~a[2].isna()].index)
a.loc[a_2n_null,1] = a.loc[a_2n_null,2]

In [ ]:
a.loc[a_2null]

NameError: ignored

In [ ]:
#index where a1 is null
a_1n_null = list(a.loc[~a[1].isna()].index)

In [ ]:
## checking if 0 is gibberish if 1 isnt null
a.loc[a_1n_null][0].value_counts()

In [ ]:
#replacing gibberish values in a[0] with a[1]
a.loc[a_1n_null,0] = a.loc[a_1n_null,1]

In [ ]:
splitted.departmnet = a[0]

In [ ]:
#Dataframe till department columns are pre processed
splitted.departmnet.value_counts()

In [ ]:
splitted.departmnet = splitted.departmnet.replace(r'-',' ', regex=True)

In [ ]:
splitted.departmnet.value_counts()

In [ ]:
splitted.subject.value_counts().nlargest(20)

In [ ]:
splitted.subject.value_counts().nsmallest(20)

computing-integrated?cc=UBSF0SCO&titl=BSc Computing (including integrated foundation year)                                  1
computing-accountingandfinance-integrated                                                                                   1
computing-business-integrated?cc=UBSF0MCOBT&titl=BSc Computing with Business and Management (with integrated Foundation)    1
economics-journalism                                                                                                        1
englishliterature-journalism-3year                                                                                          1
internationalstudies-journalism?cc=UBAF2MINJN&titl=BA International Studies with Journalism (2-year degree)                 1
psychology-englishliterature                                                                                                1
englishliterature-french?cc=UBAF2MELFR&titl=BA English Literature with French (2-year degree)                               1
computing-business?cc=UBSF2MCOBT&titl=BSc Computing with Business and Management (2-year degree)                            1
economics-business-law                                                                                                      1
economics-journalism?cc=UBEF2MECJN&titl=BSc Economics with Journalism (2-year degree)                                       1
politics-history                                                                                                            1
tudor-history?cc=RMAF1PTH&titl=MA Tudor History by Research                                                                 1
journalism-french?cc=UBAF2MJNFR&titl=BA Journalism with French (2-year degree)                                              1
computingresearch?cc=RMSF1PCO&titl=MSc                                                                                      1
arthistory-transfer                                                                                                         1
arthistory-history?cc=UBAF2MHAHS&titl=BA History of Art with History (2-year degree)                                        1
journalism-intrelations?cc=UBAF2MJNIR&titl=BA Journalism with International Relations (2-year degree)                       1
psychology-french?cc=UBSF2MPSFR&titl=BSc Psychology with French (2-year degree)                                             1
history-of-art-london                                                                                                       1
Name: subject, dtype: int64

In [ ]:
sub =  splitted.subject.str.split("=",expand= True)
sub

                               0  ...     3
0             podiatric-medicine  ...  None
1          computing-business?cc  ...  None
2      businessadministration?cc  ...  None
3                         law?cc  ...  None
4     businessandmanagement-3?cc  ...  None
...                          ...  ...   ...
4098         appliedcomputing?cc  ...  None
4099         appliedcomputing?cc  ...  None
4100         appliedcomputing?cc  ...  None
4101         appliedcomputing?cc  ...  None
4102         appliedcomputing?cc  ...  None

[4103 rows x 4 columns]

In [ ]:
#checking sub[3]
sub[3].value_counts()

    11
Name: 3, dtype: int64

In [ ]:
sub = sub[[0,1,2]]

In [ ]:
sub[1].value_counts().nsmallest(20)

UBSF0SBT           1
UBAF2MJNFR&titl    1
UBSF2MPSFR&titl    1
UBAF2MJNIR&titl    1
UBAF3MELJN&titl    1
UBAF2MHAEL&titl    1
UBAF2MINJN&titl    1
UBAF2MJNEL&titl    1
UBAF2MMLHA&titl    1
UBAF2MHAFR&titl    1
RMPF2PHS&titl      1
UBSF2MECPO&titl    1
UBAF2MPOFR&titl    1
UBAF2MELFR&titl    1
UBAF2MELHA&titl    1
UBAF2MHAHS&titl    1
RMAF1PTH&titl      1
UBEF2MECJN&titl    1
UBAF2MINSP&titl    2
UBAF2MHAJN&titl    2
Name: 1, dtype: int64

In [ ]:
#sub[1] is also gibberish
sub = sub[[0,2]]

In [ ]:
sub_1 = sub[0].str.split('?', expand = True)

In [ ]:
sub_1[1].value_counts()

cc    2263
Name: 1, dtype: int64

In [ ]:
#replacing sub[0]
sub[0] = sub_1

In [ ]:
#to replace with department
sub[2] = sub[2].str.strip()
splitted.loc[~sub[0].isna(),'departmnet'] = sub[~sub[0].isna()][2]

In [ ]:
sub[0] = sub[0].str.replace("-", " ")

In [ ]:
#replacing subject with formatted subject
splitted.subject = sub[0]

In [ ]:
splitted[4].value_counts()

                                                                                                 205
?cc=UBSF2SBS&titl=BSc Biomedical Sciences (2 year degree)                                         71
?cc=UBSF2SCO&titl=BSc Computing (2-year degree)                                                   70
?cc=UCTF1SBS&titl=CertHE Medical Sciences (Pre-Med, 1-year)                                       49
?cc=PMSF1PAD&titl=MSc Applied Data Science                                                        41
?cc=FCTF1FBS&titl=Medical Foundation (Cert. in Medical Foundation Studies, 1-year)                39
?cc=UBAF2SSICY&titl=BA Security, Intelligence and Cyber (2-year degree)                           38
 PhD Law                                                                                          32
?cc=PMSF1PSMCE&titl=MSc Strategic Marketing & Customer Experience Management=                     27
?cc=UBSF2SPD&titl=BSc Podiatric Medicine                                                          27
?cc=ULBF2SLACR&titl=LLB Law and Criminology (2-year degree)                                       23
 PhD Psychology by Research                                                                       20
?cc=OCTF1PQA&titl=Assessment Only (AO) Route to Qualified Teacher Status – Secondary              18
?cc=OCTF1PTT&titl=TA to Teacher                                                                   17
?cc=PMAF1PUNDS&titl=MA United Nations and Diplomatic Studies                                      16
 International Studies                                                                            14
?cc=UBEF2SECF&titl=BSc Economics (Flexible Combined Honours)                                      13
?cc=RMSF1PCP&titl=MSc (Research) in Cyberpsychology                                               12
?cc=FCTF1FBS&titl=Certificate Medical Foundation Studies                                          12
?cc=PMAF1PST&titl=MA Leadership in Sport                                                          11
?cc=PMAP1PR7&titl=MA in Residential Education                                                     11
?cc=RMSF1PPCPE&titl=MSc (Research) in the Psychology of Creativity and Performance Expertise      11
?cc=RMPF2PSI&titl=MPhil                                                                           10
parttime                                                                                          10
parttime?cc=ULBP4SLA&titl=LLB Law (part-time)                                                      7
prof-dip?cc=ECTP2PDM&titl=CIM Diploma in Professional Marketing                                    6
?cc=UBAF2SMLF&titl=BA Modern Languages (Flexible Combined Honours)                                 4
?cc=UBAF2SDMF&titl=BA Digital News and Media (Flexible Combined Honours)                           4
?cc=UBAF0SIN&titl=BA International Studies (with integrated Foundation)                            3
prof-cert?cc=ECTP2PCM&titl=CIM Certificate in Professional Marketing                               3
prof-cert                                                                                          2
 PhD Biography                                                                                     2
?cc=UBAF2SHAF&titl=BA History of Art (Flexible Combined Honours)                                   2
level5-qualification                                                                               1
?cc=UCTF1SBS&titl=Pre-Med (CertHE in Medical Science, 1 year)                                      1
intro-cert?cc=ECTP2ICM&titl=CIM Foundation Certificate in Marketing                                1
prof-dip                                                                                           1
scholarship                                                                                        1
level5-qualification?cc=EDIP1DMLL5&titl=CMI Level 5 Qualification in Management & Leadership=      1
?cc=UBAF2SIRF&titl=BA International Relations (Flexible Combined Honours)                          1
?cc=UBAF2SELF&titl=BA English Literature (Flexible Combined Honours)                               1
?cc=UBAF2SHSF&titl=BA History (Flexible Combined Honours)                                          1
?preview=true                                                                                      1
?preview_id=486448&preview_nonce=d52ebf5099&_thumbnail_id=486677&preview=true                      1
Name: 4, dtype: int64

In [ ]:
sub1 =  splitted[4].str.split("=",expand= True)
sub1

         0     1     2     3     4
0           None  None  None  None
1     None  None  None  None  None
2     None  None  None  None  None
3     None  None  None  None  None
4     None  None  None  None  None
...    ...   ...   ...   ...   ...
4098  None  None  None  None  None
4099  None  None  None  None  None
4100  None  None  None  None  None
4101  None  None  None  None  None
4102  None  None  None  None  None

[4103 rows x 5 columns]

In [ ]:
#dropping other columns as it contains utter gibberish
sub1 = sub1[[0,2]]

In [ ]:
sub1[2].value_counts()

BSc Biomedical Sciences (2 year degree)                                     71
BSc Computing (2-year degree)                                               70
CertHE Medical Sciences (Pre-Med, 1-year)                                   49
MSc Applied Data Science                                                    41
Medical Foundation (Cert. in Medical Foundation Studies, 1-year)            39
BA Security, Intelligence and Cyber (2-year degree)                         38
MSc Strategic Marketing & Customer Experience Management                    27
BSc Podiatric Medicine                                                      27
LLB Law and Criminology (2-year degree)                                     23
Assessment Only (AO) Route to Qualified Teacher Status – Secondary          18
TA to Teacher                                                               17
MA United Nations and Diplomatic Studies                                    16
BSc Economics (Flexible Combined Honours)                                   13
Certificate Medical Foundation Studies                                      12
MSc (Research) in Cyberpsychology                                           12
MSc (Research) in the Psychology of Creativity and Performance Expertise    11
MA in Residential Education                                                 11
MA Leadership in Sport                                                      11
MPhil                                                                       10
LLB Law (part-time)                                                          7
CIM Diploma in Professional Marketing                                        6
BA Modern Languages (Flexible Combined Honours)                              4
BA Digital News and Media (Flexible Combined Honours)                        4
BA International Studies (with integrated Foundation)                        3
CIM Certificate in Professional Marketing                                    3
BA History of Art (Flexible Combined Honours)                                2
BA History (Flexible Combined Honours)                                       1
BA International Relations (Flexible Combined Honours)                       1
Pre-Med (CertHE in Medical Science, 1 year)                                  1
CMI Level 5 Qualification in Management & Leadership                         1
d52ebf5099&_thumbnail_id                                                     1
CIM Foundation Certificate in Marketing                                      1
BA English Literature (Flexible Combined Honours)                            1
Name: 2, dtype: int64

In [ ]:
#to replace with department
splitted.loc[~sub1[2].isna(),'departmnet'] = sub1[~sub1[2].isna()][2]

In [ ]:
#to replace with department
mask = ~splitted[5].isna()
splitted.loc[mask,'departmnet'] = splitted.loc[mask,5]

In [ ]:
splitted.drop(columns = [4,5],inplace= True)

In [ ]:
splitted

                      Site  ...                  subject
0     www.buckingham.ac.uk  ...       podiatric medicine
1     www.buckingham.ac.uk  ...       computing business
2     www.buckingham.ac.uk  ...   businessadministration
3     www.buckingham.ac.uk  ...                      law
4     www.buckingham.ac.uk  ...  businessandmanagement 3
...                    ...  ...                      ...
4098  www.buckingham.ac.uk  ...         appliedcomputing
4099  www.buckingham.ac.uk  ...         appliedcomputing
4100  www.buckingham.ac.uk  ...         appliedcomputing
4101  www.buckingham.ac.uk  ...         appliedcomputing
4102  www.buckingham.ac.uk  ...         appliedcomputing

[4103 rows x 4 columns]